
.landing {
  width: 100%;
  position: relative;

  padding-top: 60px;

}
@media (max-width:767px) {
  .landing  {
    height: 80vh;
  }
  .landing .landing-img  {
    width: 250px;
  } 
}
@media (max-width:576px) {
  .landing div:first-child h1 {
    font-size: 25px;
  }
  .landing div:first-child button {
    width: 120px;
    font-weight: normal !important;
    font-size: 14px !important;
    margin:  25px 0 !important ;
  }
  .landing .landing-img  {
    width: 200px;
  }

}



@media (min-width:1200px) {
  .landing {
    height: 100%;
    padding: 40px;
  }
  
}